[submodule "Karen/vendor/spdlog"]
	path = Karen/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Karen/vendor/glm"]
	path = Karen/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Karen/vendor/glfw"]
	path = Karen/vendor/glfw
	url = https://github.com/glfw/glfw.git
