[submodule "Karen/vendor/spdlog"]
	path = BRUH/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Karen/vendor/glm"]
	path = BRUH/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Karen/vendor/glfw"]
	path = BRUH/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Karen/vendor/imgui"]
	path = BRUH/vendor/imgui
	url = https://github.com/QaisAlsaid/imgui.git
[submodule "Karen/vendor/pugixml"]
	path = BRUH/vendor/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "Karen/vendor/entt"]
	path = BRUH/vendor/entt
	url = https://github.com/skypjack/entt.git
[submodule "Karen/vendor/yaml-cpp"]
	path = BRUH/vendor/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Karen/vendor/Box2D"]
	path = BRUH/vendor/Box2D
	url = https://github.com/QaisAlsaid/box2d.git
[submodule "Karen/vendor/Imguizmo"]
	path = BRUH/vendor/Imguizmo
	url = https://github.com/QaisAlsaid/ImGuizmo.git
[submodule "Karen/vendor/LuaJit"]
	path = BRUH/vendor/LuaJit
	url = https://github.com/QaisAlsaid/LuaJIT.git
[submodule "Karen/vendor/sol2"]
	path = BRUH/vendor/sol2
	url = https://github.com/ThePhD/sol2.git
